# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code settings
.vscode/

# Environment variables
.env
.env.*

# Virtualenv
venv/
ENV/
env/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyderworkspace

# Rope project settings
.ropeproject

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.pdb
*.cache
*.dbmdl
*.log
*.ldf
*.mdf
*.psess
*.vsp
*.vspscc
*.vssscc
*.vssscc
*.scc
*.ncb
*.sbr
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.pidb
*.svclog
*.gpState

# Visual Studio Build Output
[Bb]in/
[Oo]bj/
TestResults/
out/
*.exe
*.dll
*.lib
*.exp
*.tlb
*.ocx
*.bsc
*.ilk
*.iobj
*.ipdb

# Visual Studio Code Analysis
*.codeanalysis

# Visual Studio Web Projects
App_Data/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
!**/packages/build/
!**/packages/repositories.config

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover
*.dotCover

# StyleCop
StyleCopReport.xml

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Backup & Report files
*.bak
*.backup
*.rdl.data
*.report
*.rptproj.*

# Publish Web Output
*.Publish.xml
*.pubxml
*.publishproj

# Azure Stream Analytics
ASALocalRun/

# Microsoft Fakes
FakesAssemblies/

# Node.js Tools for Visual Studio
node_modules/
npm-debug.log

# Others
*.vsix
*.vscode/
